@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;1,100;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #FFE6FF;
  color: #132400;
  font-family: 'Raleway', Impact, 'Arial Narrow Bold', sans-serif;
}

#app {
  padding: 1rem;
}

#zenSalonLogo {
  width: 150px;
  border-radius: 50%;
}

#logo {
  position: relative;
  top: 1rem;
  text-align: center;
  z-index: 1;
}
.headerImage {
  background: url("https://live.staticflickr.com/65535/52893312608_31e4d9785d_o.jpg") no-repeat center center;
  background-size: cover;
  height: 200px;
  position:relative; 
  }

.main {
    position: relative;
    }

#navMenu {
  background-color: #294300;
  padding: .25rem;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
}

.menu a{
  text-decoration: none;
  color: #93AD66;
}

.menu a:hover {
  color: white;
}

#bookNow {
  font-weight: bold;
  color: #415B19;
  background-color: #93AD66;
  height: 2rem;
  border-radius: 10px;
  border-color: #C8FCEB;
  border-bottom-color: white;
}

#bookNow:hover {
  color: white;
  background-color: #DE68CB;
}

#bookNow:active {
  background-color: #825279;
}

.mainTitle {
  text-align: center;
}

#serviceCardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1rem;
}

.serviceCard {
  background-color: #508072;
  padding: 1rem;
  border-radius: 5%;
  width: 250px;
  text-align: center;
}

.days {
  text-transform: capitalize;
  font-weight: bold;
}
.hrs {
  font-style: italic;
  font-weight: bold;
}

#hoursOfOper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#hrsText {
  font-weight: bold;
  text-align: center;
  font-style: italic;
  padding-left: 10%;
  padding-right: 10%;
}

.fa-facebook {
  width: 3rem;
}

.fa-instagram {
  width: 3rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: .5rem;
  color: #508072;
  background-color: #294300;
}

#smallLogo {
  width: 75px;
  border-radius: 50%;
}

.footerNav {
text-decoration: none;
list-style-type: none;
}